<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
  <system.data>
    <DbProviderFactories>
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" 
           type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=9.6.725.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="EDIWebServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="EDIWebServicePortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://soap.ediweb.ru:443/wsedi/services/platform" binding="basicHttpBinding" bindingConfiguration="EDIWebServicePortBinding" contract="EdiWebService.EDIWebServicePortType" name="EDIWebServicePort" />
    </client>
  </system.serviceModel>
</configuration>
